.home-section {
    padding: 50px 0;
}

section#about {
    background-size: 50% auto;
    background-position: -30% 0;
    background-attachment: local;
    background-repeat: no-repeat;
    background-image: url('../img/Seoul_National_University_Logo.svg');
}
